<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../styles/main.css">
        <title>"Article"</title>
    </head>
    
    <body>
        <header>
            <a href="../../index.html"><img src="../../image/homepage.png" alt="Home"/></a>
            <nav>
                <div class="link-panel"><a href="../codlivion.html">Codlivion</a></div>
                <div class="link-panel"><a href="../obscure.html">Obscure Games Studio</a></div>
                <div class="link-panel"><a href="../workshop.html">Art Workshop</a></div>
            </nav>
        </header>

        <main>
            <div class="page-title">"Article"</div>
            <div class="page-content">
                <p>...</p>
            </div>
        </main>

        <footer>
            <p>Copyright © 2024 Ahmet Fatih Görgülü</p>
        </footer>
    </body>
</html>