<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
        <link rel="stylesheet" href="../../styles/main.css">
        <title>Title</title>
    </head>
    
    <body>
        <header><a href="../../index.html" style="font-size: 48px;">Codlivion</a></header>
        <header>
            <nav>
                <a href="../../pages/codlivion.html">Developer Logs</a>
                <a href="../../pages/codream.html">CoDream</a>
                <a href="../../pages/browser-games/browser-games.html">Browser Games</a>
            </nav>
        </header>
        <div style="text-align: center;"><h2>Title</h2></div>

        <main>
            <div class="content">
                <p>...</p>
            </div>
        </main>

        <footer>© Ahmet Fatih Görgülü</footer>
    </body>
</html>