<!DOCTYPE html>

<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
  <link rel="stylesheet" href="../../styles/main.css">
  <title>Game</title>
 </head>

 <body class="game-page">
  <header><a href="../../index.html" style="font-size: 48px;">Codlivion</a></header>
  <header>
      <nav>
          <a href="../../pages/codlivion.html">Developer Logs</a>
          <a href="../../pages/codream.html">CoDream</a>
          <a href="../../pages/browser-games/browser-games.html">Browser Games</a>
      </nav>
  </header>
  <div style="text-align: center;"><h2>Game</h2></div>

  <main class="main-layout">
    <canvas id="game-canvas" class="game-canvas" width="400" height="400"></canvas>
  </main>

  <footer>© Ahmet Fatih Görgülü</footer>
  
  <script src="../../browser-games/browser-game.js"></script>
 </body>
</html>