:root {
    --bg:     #151f29;
    --panel:  #293a4b;
    --text:   #a4bfda;
    --accent: #0080ff;
    --muted:  #537da7;
}

html {
    font-size: 24px;
}

body {
    font-family: "Audiowide", sans-serif;
    font-variant: small-caps;
    background-color: var(--bg);
    color: var(--text);
    margin: 0;
}

header {
    background-color: var(--panel);
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    /*box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.4), inset -4px -4px 4px rgba(0, 0, 0, 0.4);*/
}

main.main-layout {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    padding-top: 0;
    gap: 2rem;
}

.sidebar {
    flex: 1;
    background-color: var(--panel);
    padding: 1rem;
    padding-top: 0;
    /*text-align: center;*/
    /*box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.4), inset -4px -4px 4px rgba(0, 0, 0, 0.4);*/
}

.content {
    flex: 4;
    background-color: var(--panel);
    padding: 1.5rem;
    /*box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.4), inset -4px -4px 4px rgba(0, 0, 0, 0.4);*/
}

footer {
    background-color: var(--panel);
    padding: 1rem;
    margin-top: 1rem;
    text-align: center;
    /*box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.4), inset -4px -4px 4px rgba(0, 0, 0, 0.4);*/
}

p {
    font-family: "Courier New", Courier, monospace;
    font-variant: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

a {
    margin: 0 1rem;
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}